@import url('https://fonts.googleapis.com/css2?family=Alice&family=Yeseva+One&display=swap');


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scrollbar-width: thin;
    scrollbar-color: var(--main-color) rgba(0, 0, 0, 0);
}
*::selection {
    background:var(--third-color);
    color:var(--second-color);
}
*::-moz-selection {
    background:var(--third-color);
    color:var(--second-color);
}
*::-webkit-selection {
    background:var(--third-color);
    color:var(--second-color);
}


:root{
    --main-color:  rgb(161, 87, 35);
    --second-color: rgb(252, 229, 205);
    --third-color: rgb(120, 100, 80);
    --fourth-color: rgb(50, 45, 35);

    --text-color: rgb(0, 0, 0);

    --background-color : rgb(120, 100, 80);
}


body {
    background-color: var(--background-color);
}
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}
    .background-personalisation {
        position: fixed;
        top: 20px;
        left: 20px;
    }
        .button {
            height: 50px;
            width: 50px;
            border-radius: 12px;
            box-shadow: 0 0 3px var(--fourth-color);
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .pen {
                width: 8px;
                height: 50px;
                transform: rotateZ(-45deg);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .button.active .pen {
                animation: write 1.2s infinite;
            }
            @keyframes write {
                10% {
                    transform: rotateZ(-42deg);
                }
                25% {
                    transform: rotateZ(-47deg);
                }
                30% {
                    transform: rotateZ(-42deg);
                }
                40% {
                    transform: rotateZ(-46deg);
                }
                50% {
                    transform: rotateZ(-42deg);
                }
                65% {
                    transform: rotateZ(-46deg);
                }
                70% {
                    transform: rotateZ(-43deg);
                }
                80% {
                    transform: rotateZ(-48deg);
                }
                95% {
                    transform: rotateZ(-43deg);
                }
                100% {
                    transform: rotateZ(-45deg);
                }
            }
                .top-pen {
                    width: 100%;
                    height: 10px;
                    border-radius: 4px 4px 0 0;
                    background: var(--second-color);
                }
                .body-pen {
                    width: 100%;
                    height: 33px;
                    border-radius: 0 0 1px 1px;
                    background: var(--second-color);
                }
                .pen .space {
                    width: 100%;
                    height: 5px;
                }
                .tip-pen {
                    position: fixed;
                    top: 41px;
                    left: 1px;
                    width: 6px;
                    height: 6px;
                    border-radius: 0 1px 0 1px;
                    transform: rotateZ(45deg);
                    background: var(--second-color);
                }

        .color-picker-box {
            width: 250px;
            transform: translateX(-110%);
            margin-top: 10px;
            padding: 20px 10px 20px 10px;
            border-radius: 12px;
            box-shadow: 0 0 3px var(--fourth-color);
            transition: transform 0.3s ease-out;
            z-index: -1;
        }
        .color-picker-box.open {
            transform: translateX(0%);
        }
            .color-picker-name {
                font: 15px "Alice", sans-serif;
                color: var(--second-color);
                text-align: center;
                margin: 0 auto 20px auto;
                padding: 7px;
                background: rgba(80, 65, 55, 0.4);
                border-radius: 5px;
            }
            .color-picker {
                width: 190px;
                margin: 10px auto 0 auto;
            }

    .page {
        width: 800px;
        height: 1150px;
        margin: 0 auto 0 auto;
        background: url(../assets/background.png);
        background-size: cover;
        background-position: center;
        border-radius: 2px;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    }
    .page.top {
        margin-top: 50px;
        padding-top: 70px;
    }
    .page.error {
        margin: 40px auto 0 auto;
        padding-top: 70px;
        height: 90%;
    }
        .page.top .head {
            height: 200px;
            width: 95%;
            margin: 0 auto 0 auto;
        }
            .page.top .head-top {
                height: 188px;
                display: flex;
                justify-content: space-between;
            }
                .page.top .header-right-left {
                    display: flex;
                    flex-direction: column;
                }
                    .page.top .logo {
                        height: 90%;
                        margin: 0 10px 0 10px;
                        display: flex;
                        align-items: center;
                    }
                        .page.top .logo-left {
                            width: auto;
                            height: 140px;
                        }
                        .page.top .logo-right {
                            width: auto;
                            height: 140px;
                        }
                
                .page.top .header-center {
                    width: 100%;
                }
                    .page.top .newspaper-title {
                        font: 66px "Yeseva One", sans-serif;
                        color: var(--main-color);
                        text-align: center;
                        margin: 0 auto 0 auto;
                    }
                    .page.top .numero-title {
                        font: 35px "Yeseva One", verdana;
                        color: var(--text-color);
                        text-align: center;
                        margin: 20px auto 0 auto;
                    }

            .page.top .ligne {
                height: 1px;
                width: 100%;
                margin-top: 25px;
                background-color: var(--main-color);
            }
            .page.top .ligne.big {
                height: 2px;
                border-radius: 1px;
                margin-top: 10px;
            }
    
    .page.content {
        margin-top: 15px;
        padding-top: 40px;
    }
        .page.content .head {
            width: 95%;
            margin: 0 auto 0 auto;
        }
            .page.content .head-middle {
                display: flex;
                justify-content: center;
            }
                .page.content .logo {
                    height: 115px;
                    margin: 0 10px 0 10px;
                    display: flex;
                    align-items: center;
                }
                    .page.content .logo-left {
                        width: auto;
                        height: 90px;
                    }
                    .page.content .logo-right {
                        width: auto;
                        height: 90px;
                    }
                
                .page.content .newspaper-title {
                    font: 66px "Yeseva One", sans-serif;
                    color: var(--main-color);
                    text-align: center;
                    margin: 20px;
                }

            .page.content .ligne {
                height: 1px;
                width: 740px;
                margin: 0 auto 0 auto;
                background-color: var(--main-color);
            }
            .page.content .ligne.big {
                height: 2px;
                border-radius: 1px;
            }

        .body {
            margin: 20px 40px 0 40px;
            display: flex;
        }
            .column {
                width: 350px;
            }
            .column.two {
                margin-left: 30px;
            }
            .column.large {
                width: 100%;
            }
                .article-title {
                    font: 35px "Yeseva One", sans-serif;
                    color: var(--main-color);
                    margin-bottom: 15px;
                }
                .article-title.error {
                    font-size: 150px;
                    font-weight: 800;
                    text-align: center;
                }
                .article-text {
                    font: 16px "Alice", sans-serif;
                    color: var(--text-color);
                    font-weight: 400;
                    line-height: 23px;
                    text-indent: 50px;
                    text-align: justify;
                }
                .article-text.litle {
                    font-size: 14px;
                }
                    .paragraph {
                        margin-bottom: 3px;
                    }
                    .paragraph.list {
                        margin-left: 20px;
                    }
                        .italic {
                            font-style: italic;
                        }
                        .bold {
                            font-weight: bold;
                        }
                .button-error {
                    position: absolute;
                    top: 80%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: auto;
                    padding: 12px 15px;
                    border-radius: 20px;
                    font: 16px "Alice", sans-serif;
                    color: rgb(255, 255, 255);
                    text-align: center;
                    background: var(--third-color);
                    transition: 0.2s;
                }
                .button-error:hover {
                    background: var(--main-color);
                }
                
                .complement {
                    height: auto;
                    width: 100%;
                    margin: 10px auto 20px auto;
                    padding: 10px;
                    background: var(--second-color);
                }
                .complement.top {
                    margin-top: 0;
                }
                    .complement-title {
                        font: 20px "Yeseva One", sans-serif;
                        color: var(--main-color);
                        margin-bottom: 10px;
                    }
                    .complement-text {
                        font: 12px Arial, sans-serif;
                        color: var(--text-color);
                        font-weight: 400;
                        text-align: justify;
                        overflow-wrap: break-word;
                    }
                    .complement-link {
                        overflow-wrap: break-word;
                    }
                .image-box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 20px auto 10px auto;
                    word-break: keep-all;
                }
                .image-box.top {
                    margin-top: 0;
                }
                    .image {
                        height: auto;
                        width: 95%;
                    }
                    .article-paratext {
                        width: 95%;
                        margin-top: 5px;
                        font: italic 11px "Alice", sans-serif;
                        color: var(--text-color);
                        font-weight: 400;
                        line-height: 23px;
                        text-align: center;
                    }

@media (max-width: 820px) {
    body {
        background: url(../assets/background.png);
        background-size: 100% auto;
        background-position: center;
        background-attachment: fixed;
    }   
        .background-personalisation {
            display: none;
        }
        .page {
            height: auto;
            width: auto;
            margin: 20px 0;
            background: none;
            box-shadow: none;
            border-bottom: 5px solid var(--background-color);
        }
        .page.content {
            padding: 0;
        }
        .page.last {
            border-bottom: none;
        }
        .page.error {
            height: 100vh;
            margin: 0 auto 0 auto;
        }
            .page.top .header-rightleft {
                display: none;
            }
            .page.content .head {
                display: none;
            }

        .body {
            flex-direction: column;
            align-items: center;
            margin-top: 0;
            margin-bottom: 15px;
        }
            .column {
                width: 100%;
            }
            .column.two {
                margin: 0;
            }
                .article-title {
                    margin-top: 50px;
                }
                .article-title.fisrt {
                    margin-top: 20px;
                }
                    .paragraph {
                        margin-top: 15px;
                    }
                    .image {
                        width: 70%;
                    }
}

@media (max-width: 700px){
    body {
        background-size: auto 100%;
    }
}

@media (max-width: 600px){
        .page.top {
            margin: 0;
        }
            .page.top .header-center {
                margin: 0 auto 0 auto;
            }
                .page.top .newspaper-title {
                    font-size: 50px;
                }
                .page.top .numero-title {
                    font-size: 30px;
                }
            .body {
                margin: 0;
            }
                .column {
                    width: 90%;
                }
                .column.large {
                    width: 90%;
                }
                    .article-title {
                        font-size: 30px;
                    }
                    .article-text {
                        font-size: 12px;
                    }
                    .article-text.litle {
                        font-size: 12px;
                    }
                    .complement-title {
                        font-size: 18px
                    }
                    .complement-text {
                        font-size: 12px;
                    }
                    .article-paratext {
                        font-size: 12px;
                    }
}

@media (max-width: 400px){
    .page.top .head {
        height: auto;
    }
        .page.top .head-top {
            height: auto;
        }   
            .page.top .newspaper-title {
                font-size: 35px;
            }
            .page.top .numero-title {
                font-size: 23px;
            }
            .article-title {
                font-size: 23px;
            }
            .article-text {
                font-size: 10px;
            }
            .article-text.litle {
                font-size: 10px;
            }
            .complement-title {
                font-size: 15px
            }
            .complement-text {
                font-size: 10px;
            }
            .article-paratext {
                font-size: 10px;
            }
}